@charset "utf-8";
/*css document start*/
*{ margin:0; padding:0; word-break: break-all;}
*html{ overflow-x:hidden;}
body { font: 12px Tahoma, Verdana,snas-serif; color:#666;}
h1,h2,h3,h4,h5{ font-size:12px;}
img{ border:0;}
select option{ padding-left:4px;}
ul,li{ list-style:none;}
a { color: #036; text-decoration: none;}
a:hover { color: #258DC9; text-decoration: underline;}
em, cite, strong, th { font-style: normal; font-weight: normal;}
#container{ width: 96%; margin: 0 auto; background:#FFF; min-width: 778px;}
/*font style start*/
.fblue{ color: #3F4E5A; font-weight: bold; margin-bottom: 1px;}
.fnumber,.ForumUserListRightLeft2,.f999,.NavDetailUserMessage span{ font-family: Georgia,Tahoma, Verdana,snas-serif; }
.f999{ color: #999; padding-right: 7px;}
/*font style end*/
/*NtForumHead start*/
#NtForumHead { height: 110px; background:#fff url(images/Locationbg.jpg) repeat-x left top; }
	.NtForumHeadLeft { float:left;}
		.NtForumHeadLeft span { position: absolute; left: -5000px;}	
		.NtForumHeadLeft ul{ margin-top:25px;}
		.NtForumHeadLeft li{ float:left;text-align:center;}
			.NtForumHeadLeft .MarTop img{ margin:8px 4px;}
			.NtForumHeadLeft li a:link,.NtForumHeadLeft li a:visited{color:#999;text-decoration:none;}
			.NtForumHeadLeft li a:visited,.NtForumHeadLeft li a:active{color:#999;text-decoration:none;}
	#NtForumHead p{ line-height:35px; text-align:right;}
		#NtForumHead p a{ padding-right:10px; color:#666;}
			a.reg{ background: url(images/submenudot.gif) no-repeat left center; padding:0 8px;}
	#ad{ text-align:right;}
/*NtForumHead end*/
/*NtForumMenu start*/
#NtForumMenu{ clear:both; border: 1px solid #e8e8e8; background: url(images/menu_bg.gif) repeat-x left top;line-height:34px;}
*#NtForumMenu {height:34px;}
	.NtSeletMode{ float:left; color:#069; border-left:2px solid #fff;}
		.NtSeletMode a{ background:url(images/celan.gif) no-repeat left center; margin-left:18px; padding-left:20px;}
	ul#NtNavigation { float:right;}
		#NtNavigation li { float:left; padding:0 8px; text-align: center; background: url(images/menu_line.gif) no-repeat right center;}
		#NtNavigation  .NoBackground,.ForumBuytopicTheadLeft{ background:none;}
		#NtNavigation .MyContent{ text-align:left;padding:0 2px;width:40px;background: url(images/jsmenu.gif) no-repeat  center right;}
			#NtNavigation li a, #NtNavigation li a:link { display:block; color: #333;}
			#NtNavigation li a:hover,#NtForumLocation  a:hover { color: #258DC9; text-decoration:none;}

	.NtDropMenu{ width:80px; border:1px solid #D7E3F2; border-top:none; background:#F5FAFE; text-align:center;}
		.NtDropMenu h4{ height:22px; font-weight:normal; line-height:22px; padding:0 2px;}
		.NtDropMenu a:link,.NtDropMenu a:visited{ display:block; color:#333; text-decoration:none;}
		.NtDropMenu a:hover,.NtDropMenu a:active{ display:block; color:#AABE04; text-decoration:none;}
/*NtForumMenu end*/
/*NtForumLocation start*/
#NtForumLocation{ clear:both;margin-top:8px;}
	#NtForumLocation  a{ color:#666; text-decoration:none;}
	#NtForumLocation img{ margin-top:3px;}
	*html #NtForumLocation img{ margin-top:4px;}
	*+html #NtForumLocation img{ margin-top:0px;} 

	.NtForumLocationHome,.NtForumLocationSecond{ line-height:22px; height:30px;}
		.NtForumLocationSecond {height:24px;}
	#NtForumLocation h2{ float:left; text-align:left; padding-left:3px;}
		#NtForumLocation span a,#NtForumLocation strong{ background:url(images/dot-postiont2.gif) no-repeat left center; padding-right:5px; padding-left:10px; margin-left:5px;}
		.NtForumLocationHome  #URight2{ float: right; width: 222px; text-align:right;}
	#NtForumLocation h3{ float:left; font-weight: lighter; text-align:left; padding-left:3px;}
		.NtForumLocationSecond em{ color:#1F90CF;}
		.NtForumLocationSecond  #URight{ float: right; width: 570px; text-align:right;}
		ul#Divmenu2 { float: right; white-space: nowrap;}
			#Divmenu2 li {float: left; text-align: center;}
			#Divmenu2 .menuDiv { background: #eee; height: 12px; width: 1px; margin: 6px 3px 0 3px;}
	/*论坛路径弹出板块列表菜单样式定义开始*/
	*+html .navhomemenu {width:358px;}
	#homewindow{ border:1px solid #B4C9E0; overflow:hidden; background-color:#F5FAFE; padding:5px; width:330px!important; width:350px; text-align:left;}
	*+html #homewindow{ border:1px solid #B4C9E0; overflow:hidden; background-color:#F5FAFE; padding:5px;text-align:left; width:340px;}
		#homewindow dl{margin:0;padding:0;}
		#homewindow dt { clear:both; color:#A9C1DC; line-height:28px; margin:0 1em;}
		#homewindow dd { overflow:hidden; float:left; width:7em; line-height:20px; height:20px; margin:0em 1em;}
			#homewindow dt a:link,#homewindow dt a:visited{ color:#A9C1DC; text-decoration:none;}
			#homewindow dt a:hover,#homewindow dt a:active,#homewindow dd a:hover,#homewindow dd a:active{ color:#1F90CF; text-decoration:underline;}
			#homewindow dd a:link,#homewindow dd a:visited{ color:#333; text-decoration:none;}
	/*论坛路径弹出板块列表菜单样式定义结束*/
	/*QuickSearch*/
	#NavSearch {border:1px solid #ccc; height:26px; padding-right:0px; line-height:24px; width: 220px;}
		#NavSearch dt,#NavSearch dd { float:left;}
		#NavSearch .s2{ background:#fff url(images/dot-down.gif)  no-repeat right center; width: 80px; height:24px; color:#090; text-align:center;}
		#NavSearch .text{width:110px; text-indent:2px; border:0; padding:0.2em 0; }
		*html #NavSearch .text {width:108px;}
		*+html #NavSearch .text {width:108px;}
		#NavSearch .s3{ width: 28px; height:26px; background:#fff url(images/button-search.gif)  no-repeat 100% 0; border:0;}
		.SearchMenu {background-color:#F5FAFE; padding:4px; width:75px; text-align:left; border:1px solid #D7E3F2; border-top:0; margin-top:4px;}
		.SearchMenu div {text-align:center;}
	/*QuickSearch*/
/*NtForumLocation end*/
/*message*/
#NtForumMessage{clear: both; overflow:hidden; border: 1px solid #B5E1F7;}
		#NavMessageContent{ border:1px solid #fff; border-bottom:2px solid #fff; background-color:#EEF8FD; line-height:31px;}
			#NavMessageContent strong{ float:left; width:50px; text-align:center; color:#3F4E5A;}
			#NavMessageContent li{ float:left; padding-left:10px;}
				#NavMessageContent a{ color: #3F4E5A; }
/*message*/
/*ad*/
#NtLetterAd{clear: both;border: 1px solid #DCE6F1;background:url(images/ad_bg.gif) repeat-x 2% 2%;margin-top:4px;}
	.LetterAdList{border:1px solid #fff;text-align:left;padding:4px;}
		.LetterAdList td{padding:6px;}
/*ad*/
/*note*/
ul#NtFrorumAnswer{padding-left:40px;border:1px solid #fff;background:#fff url(images/ad_bg.gif) repeat-x left top;}
	#NtFrorumAnswer li{overflow:hidden; text-align: left; line-height:26px;color:#666;}
		#NtFrorumAnswer span{margin-right:20px;}
		#NtFrorumAnswer strong{font-weight:lighter;color:#069;}	
/*note*/
/*ForumTopic*/
.NtForumTopic{ clear:both; overflow:hidden; zoom:1; border: 1px solid #B4C9E0; margin-top: 8px;}
	.TopicBg{ overflow:hidden; background:#F5FAFE;}
	.NtTopicTitle{ border:1px solid #fff; background:#1080c0 url(images/bbs_title_bg.jpg) repeat-x left top; height:31px; line-height:31px; }
			.NtTopicTitle h2{ float: left; background: url(images/bbs-title-dot.gif) no-repeat left;color: #fff; margin-left:11px; padding-left:25px;}
			.NtTopicTitle em{ color:#efefef;}
			.NtTopicTitle h3{ float: left;color: #fff; padding-left:8px;}
			.NtTopicTitle a,.NtTopicTitle a:hover{ color: #fff; text-decoration:none;}
			.open{float:right; margin-right:6px; margin-top:7px; line-height:20px; vertical-align:middle; color:#fff;}
					.open img{ padding:5px;}
					.open a{ font-weight:bold; padding-left:6px;}
	
	.NtTopicThead{ clear: both; color: #666; line-height: 30px; text-align: center; margin:0 1px; background:#f5f8fd url(images/title_bg.jpg);}
		.TopicTheadRight,.TopicListRight,.TopicList0n{ float: right; width: 460px; text-align: center;}
			.TheadLeft,.Listleft{ float: left; width: 65px; border-left: 1px solid #fff;}

	.NtTopicList,.NtTopicList0n{ clear:both; border-top: 1px solid #D1E1EF; border-bottom: 2px solid #fff; background-color: #F5FAFE;}
		/*\*/ * html .NtTopicList { height: 1%; } /**/ *>.NtTopicList { overflow: hidden;}
		/*\*/ * html .NtTopicList0n { height: 1%; } /**/ *>.NtTopicList0n{ overflow: hidden;}
		
		.TopicListRight,.TopicList0n{ border-top:1px solid #fff;}
			.Listleft{ font-family: Georgia,Tahoma, Verdana,snas-serif; line-height: 60px; background: url(images/table_bg2.gif) no-repeat top left; border-left:0;}
			.ListRight{float: left; background: url(images/table_bg2.gif) no-repeat top left; padding-left:5px;}
					.ListRight h4{ color:#3F4E5A; text-align: left; line-height:20px; font-weight: lighter; padding-left:2px; padding-top:10px;}
					.TopicBackWriter{ font-family: Georgia,Tahoma, Verdana,snas-serif; line-height: 18px; padding-left: 20px; text-align:left; background: url(images/writer.gif) no-repeat 2px 5px;}
						.TopicBackWriter a,.TopicTitle a,.HorizontalTopicList h4 a,.ForumContentLeft h1{ color:#3F4E5A;}
					.today{color:#090; font-weight:normal; padding-left:3px;}
																
		.TopicIcon{float: left; text-align: center; width: 53px; height: 48px; border-top:1px solid #fff;}
				.TopicIcon img{margin-top: 7px;}
				
		.TopicTitle{ min-width: 280px; float:none !important;float:left; margin-left: 52px !important;margin-left:0px; background: url(images/table_bg2.gif) no-repeat top left; border-top:1px solid #fff; text-align: left;}
				.TopicTitle img{ margin:8px 5px 5px 5px; float:left;}
				.TopicTitle h3{ padding-left: 8px; padding-top:6px; margin-bottom:4px;}
							.Tbottom{ padding-left: 8px; color:#666;}
				.TopicManager{ color:#069; padding-left: 8px; margin-top:2px;}
							.TopicManager a{ color:#3F4E5A; text-decoration:underline; padding:0 5px;}								
	/*鼠标放在论坛列表上面时的样式*/
	.NtTopicList0n{background-color: #F9FCFF;}
			.NtTopicList0n .Listleft,
			.NtTopicList0n .ListRight,
			.NtTopicList0n .TopicTitle{ background: url(images/table_bg3.gif) no-repeat top left;}
			.NtTopicList0n .TopicTitle h3 a{ color: #258DC9;}
				.NtTopicList0n .today{ color:#258DC9; font-weight:normal;}
				.NtTopicList0n  nobr{ color:#258DC9;}
	/*鼠标放在论坛列表上面时的样式*/
	/*主题列表横向样式定义*/
	ul.HorizontalTopicList{width:100%;}
			.HorizontalTopicList li{float: left; text-align:left; background: url(images/table_bg2.gif) no-repeat top left; background-color:#F5FAFE;}
				.HorizontalTopicList li div{ padding-top:5px; padding-bottom:5px; border-bottom:2px solid #fff; line-height:160%; height:55px; min-height:55px; text-indent:10px;}
					.HorizontalTopicList h5{ line-height:20px; font-weight:normal;}
					.HorizontalTopicList strong{ font-family: Georgia,Tahoma, Verdana,snas-serif; color:#090; padding:0 3px;}
						.HorizontalTopicList span{ float:left;}
							.HorizontalTopicList span a{ color: #069; text-decoration:underline; padding:0 5px;}
	/*主题列表横向样式定义*/
	/*主题购买显示开始*/
		.ForumBuytopicTheadRight{ float:right; width: 240px; line-height:27px; text-align:center;}
			.ForumBuytopicTheadLeft,.ForumBuyTopicLeft{ float: left; width: 115px; border-left: 1px solid #fff; background: url(images/table_bg2.gif) no-repeat top left;}
	/*主题购买显示结束*/
/*ForumTopic*/

/*主题帖子列表显示开始*/
	/* 管理员设置密码区开始*/
	.NtForumPassword{width:400px; margin:6px auto; text-align:left;}
		.NtForumPassword label{width: 80px; line-height:25px;}
		.NtForumPassword br{clear: left;}
	/*管理员设置密码区结束*/
	/*帖子列表显示开始*/
	.NtForumListThead{border: 1px solid #fff; background: #fff url(images/title_bg.jpg) repeat-x left top; color: #095F93; line-height: 27px; text-align: center;}
		.ForumListTheadRight,.ForumListRight{ float: right; width: 360px;}
			.ForumListTheadLeft,.ForumListTheadLeft2{ float: left; width: 131px; border-left: 1px solid #fff;}
			.ForumListTheadLeft2{ width: 89px;}
		.NtForumList,.NtForumListOn{clear:both; border-top: 1px solid #D8E6F1; border-bottom: 2px solid #fff; background-color: #f5fafe; }
			/*\*/ * html .NtForumList { height: 1%; } /**/ *>.NtForumList  { overflow: hidden;} 
			/*\*/ * html .NtForumListOn{ height: 1%; } /**/ *>.NtForumListOn{ overflow: hidden;} 
			.ForumListIcon{float: left; text-align: center; width: 54px; background: url(images/table_bg2.gif) no-repeat top left; border-top:1px solid #fff;}
				.ForumListIcon img{ margin-top: 8px;}
			.ForumListTitle{ min-width: 260px; margin-left: 52px; background: url(images/table_bg2.gif) no-repeat top left; border-top:1px solid #fff;}
				.ForumListTitle img{ margin-right:3px;}			
			
				.ForumSpeakTitle{text-align: left;padding-left: 10px;padding-top:10px;height:auto !important;height:30px;min-height:30px;}
						.ForumSpeakTitle a{color: #003366;}
						.ForumSpeakTitle a:hover{text-decoration: underline;}
							
			.ForumListRight{border-top:1px solid #fff;}
				.ForumListRightLeft{float: left; width: 131px; background: url(images/table_bg2.gif) no-repeat top left; line-height: 18px; text-align:left;}
				.ForumListRightleft2{float:left;width:89px;font-family: Georgia,Tahoma, Verdana,snas-serif; background: url(images/table_bg2.gif) no-repeat top left;text-align:center;}											
				.ForumListRightLeft h3{margin-top: 2px; margin-left:10px; width: 110px; text-align: left; font-weight:normal; color:#036; background: url(images/writer.gif) no-repeat left center; padding-left:16px;}
				.ForumListRightLeft h4{margin-top: 2px; width: 118px; text-align: right; font-weight:normal; color:#036;}
					.ForumListRightLeft div,.ForumListRightLeft .div2{ padding-left:10px; width: 118px; text-align: left; color:#666; font-family: Georgia,Tahoma, Verdana,snas-serif;}
					.ForumListRightLeft .div2{width: 125px;}						
	/*鼠标在帖子上面时变化的样式定义开始*/
	.NtForumListOn{background-color: #F9FCFF;}
			.NtForumListOn .ForumListRightLeft,
			.NtForumListOn .ForumListRightleft2,
			.NtForumListOn .ForumListIcon,
			.NtForumListOn .ForumListTitle,
			.NtForumListOn .ForumUserListRightLeft,
			.NtForumListOn .ForumUserListRightLeft2,{background: url(images/table_bg3.gif) no-repeat top left;}
			.NtForumListOn  a{color: #258DC9;}
	/*鼠标在帖子上面时变化的样式定义开始*/
	/*帖子展开区开始*/
	.openlist{clear:both;overflow:hidden;zoom:1;border-top:1px solid #D8E6F1;background:#F9FCFF url(images/openlist-bg.jpg) repeat-x left top;padding-left:89px;text-align:left;padding-top:12px;line-height: 160%;}
			.listcontent li{background:url(images/openlist-dot.jpg) no-repeat left center;padding-left:10px;}
			.pagecontent{ width:160px; text-align:center; border:1px solid #B4C9E0; background-color:#F5FAFE; margin-top:6px; margin-left:89px; margin-bottom:2px;}
				.pagediv{ background-color:#F9FCFF; text-align:left;}
	.platepage{padding-left:4px;line-height:20px;background:url(images/dot_page.gif) no-repeat 12px 0px!important;background:url(images/dot_page.gif) no-repeat 12px 2px;}
		.platepage a{color:#666; padding:3px;}
		.platepage a:hover{color:#069; text-decoration:underline;}
	/*帖子展开区结束*/
	/*帖子管理区开始*/
	.ForumListManager{ background-color:#F5FAFE; border-top:1px solid #e6eef7; text-align:left; padding-left:4px; height:39px; line-height:38px;}
		.ForumListManager strong{ padding-left:10px; font-weight:bold;}
		*html .ForumListManager input{margin-top:7px;}
	/*帖子管理区结束*/	
	/*announcement style*/
	.NtForumAnnouncement{overflow:hidden; zoom:1 ;text-align:left; padding-top:10px; padding-left:15px;}
	/*announcement style*/
/*主题帖子列表显示结束*/

	/*短信息显示开始*/
	.ForumMessageTheadRight{float: right;width:300px;line-height:27px;text-align:center;}
		.ForumMessageTheadLeft{float: left;width: 140px;border-left: 1px solid #fff;background: url(images/table_bg2.gif) no-repeat top left;}
	/*短信息显示结束*/
	/*注册显示开始*/		
	.NtForumRegister{clear:both; overflow:hidden; background-color: #f5fafe; margin:0 auto; text-align:center; padding-top:15px;}
		/*\*/ * .NtForumRegister  { height: 1%; } /**/ *>.NtForumRegister  { overflow: hidden;} 
		.NtForumRegister em{display:block;line-height:45px;}
	/*注册显示结束*/
	/*在线用户列表显示开始*/
	.NtOnlineUserTheadRight,.ForumUserListRight{float: right;width: 710px;line-height:27px;text-align:center;}
		.ForumOnlineUserTheadLeft,.ForumOnlineUserTheadLeft2,.ForumUserListRightLeft,.ForumUserListRightLeft2{float:left; width: 140px; border-left: 1px solid #fff;}
		.ForumOnlineUserTheadLeft2,.ForumUserListRightLeft2{ width: 200px;}
	.ForumUserListRight{ border-top:1px solid #fff; height:36px; line-height:36px;}
		.ForumUserListRightLeft,.ForumUserListRightLeft2{ background: url(images/table_bg2.gif) no-repeat top left; text-align:center; border-left:0px;}
		.ForumUserListRightLeft2{ font-family: Georgia,Tahoma, Verdana,snas-serif;}
			.ForumUserListRightLeft h4{ color:#036; font-weight:normal;  line-height:18px; margin-top:2px; text-align:right;}
			.ForumUserListRightLeft h3 {background:transparent url(images/writer.gif) no-repeat scroll left center;color:#036;font-weight:normal;margin-left:10px;margin-top:2px;padding-left:16px;text-align:left;}
		.ForumUserListRight strong,.ForumUserListRight em{ color:#666; font-family:Georgia,Tahoma,Verdana,snas-serif;}
		.ForumUserListRight em{ padding-left:10px; text-align:left;}
	/*在线用户列表显示结束*/	
/*主题帖子详细内容样式定义 开始*/
	.NtViewThread,.NtViewThreadFoot {clear:both; overflow:hidden; zoom:1; background-color:#F5FAFE;}
	.NtViewThread {background:#F5FAFE url(images/bg-line.gif) repeat-y 177px top;}
		* html .NtViewThread {background:#F5FAFE url(images/bg-line.gif) repeat-y 180px top;}
		.ViewThreadLeft { float:left; width:177px; background:url(images/td_bg2.gif) no-repeat left top;}
		.ViewThreadRight { border-left: 1px solid #e6eef7; margin-left:177px;  min-height:320px; height:auto!important;height:320px; }
		.NtForumDetailLine{ border-top: 1px solid #9db6c8; border-bottom: 1px solid #9db6c8; background-color: #d7e3f2; height:8px; line-height:8px;}

		.RegUserMessage,.NavPostInfo{ background:url(images/td_bg2.gif) no-repeat left top; border-bottom:1px solid #fff;}
		.NavUserMessage,.NavArticle { overflow:hidden; zoom:1; background:url(images/td_bg2.gif) no-repeat left top; border-top: 1px solid #e6eef7;}
				.UserPhotoImg{margin:0 auto; text-align:center; padding-top:6px;}
				.NavUserMessage h3{ font-weight: lighter; color:#069; line-height:18px; padding-left:9px; margin:6px;}
				.NavUserMessage .face{line-height:18px;padding-left:15px;height:18px;}
				.tools{overflow:hidden;zoom:1;margin:6px;text-align:left;}
					.tools img{padding:4px;}
				.NavDetailUserMessage{padding-left:15px;}
					.NavDetailUserMessage li,.NavDetailUserMessage .OtherProduct{line-height:18px;color:#999; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:96%;}
						.NavDetailUserMessage span{padding-left:3px;color:#30516D;}
						.OtherProduct,.OtherProduct  strong, .OtherProduct  em{ height:36px; line-height:36px;}
							.OtherProduct  strong,.OtherProduct em { background:url(images/dotspace.gif) no-repeat left center; padding-left:25px;padding-top:5px; padding-bottom:5px;}
							.OtherProduct  em { background:url(images/dotphoto.gif) no-repeat left center; margin-left:10px;}
							.OtherProduct a{color:#30516D;}
				.defaultcontent {position:relative; clear:both; height:auto!important;height:280px; min-height:280px; }
				/*\*/ * html .defaultcontent{ height: 1%; } /**/ *>.defaultcontent { overflow: hidden;}
									
						.Dspace,.Dspace2,.Dspace3,.WriteLine{width:170px;background:url(images/line-middle.gif) repeat-x left center;margin:0 auto;margin-top:6px;height:2px;line-height:2px;}
							.Dspace2{ width:75px;}
							.Dspace3{ width:76px; margin-top:2px;}
							.WriteLine{ width:96%; margin-bottom:6px;}
	/*top说明区开始*/		
		.PostInfoLeft{float:left;width:30%;height: 32px;line-height:32px;}
			.PostInfoLeft span{background: url(images/time.gif) no-repeat 6px center;padding-left:28px;color: #069;}
			.PostInfoLeft em{margin-left:15px;line-height:34px;font-style:normal;color:#eee;}
				.PostInfoLeft em a{color:#090;}
		.PostInfoItem{margin-right: 6px;height: 32px; line-height:32px; text-align:right;}
			.PostInfoItem span{font-family: Georgia,Tahoma, Verdana,snas-serif; line-height:32px;}
			.see-line2{margin-right:2px; margin-left:2px; line-height: 34px; color:#eee;}
				.PostInfoItem a:link,.PostInfoItem a:visited{color:#333;}
				.PostInfoItem a:hover,.PostInfoItem a:active{color:#666; text-decoration:underline;}
		*html .PostInfoItem input{margin-top:6px;}
		.NtPrint {position:absolute; right:250px; top:25px; z-index:1000;cursor:pointer;}
	/*top说明区结束*/
		.NavArticle { overflow: hidden; zoom:1;}
		* html .NavArticle {clear:both;}
			.ForumArticle{ overflow: hidden; zoom:1; word-break : break-all; letter-break:break-all; color: #333 ;padding: 30px; padding-top:15px;}
			.ForumArticle h3{color:#3F4E5A;line-height:24px;}

		.QUOTE{ overflow:hidden; zoom:1; border: 1px solid #d7e3f2; border-top: 5px solid #d7e3f2; margin: 10px 30px;}
			.QUOTE .text{ overflow: hidden; zoom:1; background: #f5fafe url(images/td_bg2.gif) no-repeat top left;border-bottom: 4px solid #fff;padding-left:14px;padding-top:8px;padding-bottom:8px;}
				
			/*.t_signature {height: expression(signature(this));}*/
			.t_smallfont, .t_smallfont div {font-size: 12px;line-height:160%;}
			.t_msgfont{overflow: hidden;padding-top:6px;font-size: 14px;line-height:160%;}
			.t_bigfont, .t_bigfont div {font-size: 16px;line-height:160%;}
			.t_smallfont *, .t_msgfont *, .t_bigfont *{line-height: normal !important;}
			.t_table {border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
			.t_table td {border-left:1px solid #ccc; border-top:1px solid #ccc;}
			
			.msgheader {margin: 0 2em;border-left: 1px solid #d7e3f2;border-right: 1px solid #d7e3f2;border-top: 5px solid #d7e3f2;background: #f5fafe url(images/td_bg2.gif) no-repeat top left;padding:4px;}
			.msgborder {margin: 0 2em;padding: 10px;border-left: 1px solid #d7e3f2;border-right: 1px solid #d7e3f2;border-bottom: 1px solid #d7e3f2;word-break: break-all;background-color: #f5fafe;}
			.right {float: right;text-align: right;padding-right: 4px;margin-right:0!important;}
			.ratelog{ padding-left:30px; padding-top:15px; }
			.ratelog img {vertical-align:middle;}	
	/*bottom说明区开始*/		
.NtViewThreadFoot{border-top: 1px solid #e6eef7; }
	.ThreadFootRight { overflow:hidden; zoom:1; border-left: 1px solid #e6eef7; background:url(images/td_bg2.gif) no-repeat left top; }
	*html .ThreadFootRight {margin-left:177px;}
	*+html .ThreadFootRight {margin-left:177px;}
		.ForumContentAd{float: left;width:75%;background: url(images/dot-ad.gif) no-repeat 4px 8px;line-height: 28px;color: #333;padding-left:30px;overflow:hidden;}
				.ForumContentAd div{text-align:left;}
		.ForumContentAnswer{float:right;text-align:right;}			
	/*bottom说明区结束*/
	/*上下页说明区开始*/
	.NavNextPage{color:#3F4E5A;font-weight:bold;line-height:28px;padding-left:10px;}
		.NavNextPage a:link{color:#3F4E5A;text-decoration:none;}
		.NavNextPage a:hover{color:#3F4E5A;text-decoration:underline;}
		.detail-area span{font-size:8px;padding:0 3px;line-height:28px;}
	/*上下页说明区结束*/
	/*弹出窗口区域样式开始*/
		.normalname,.normalname-bg {font-weight: bold; color:#09c;border:1px solid #F5FAFE;background:url(images/dot-down2.gif) no-repeat right center;width:165px;height:26px;line-height:26px;margin:2px auto;cursor:pointer;}
		.normalname-bg {border:1px solid #E6EEF7;background:url(images/name-bg.gif) repeat-x left center;}
			.normalname img,.normalname-bg img{padding:6px;}
		.popmenubutton-new,.popmenubutton-new-out{color: #0099cc;white-space:nowrap;text-align:left;text-decoration:none;}
		.popmenubutton-new-out{font-weight: bold;}
		.popupmenu-new{border-right:3px solid #D7E3F2;border-bottom:3px solid #D7E3F2;width:175px;text-align:left;margin-top:5px !important;margin-top:6px; padding-left:1px;}
		.popupmenu-item{white-space:nowrap;color:  #000;}
			.popupmenu-item .itemlast{padding-left:18px;line-height:22px;}
					.itemlast a{color:#666;}
			.popupmenu-item .tools{font-size:10px;color:#09C;font-family: Tahoma, Verdana,snas-serif;text-align:left;}
					.tools img{padding-right:6px;}
		.popupmenu-item-last{border-right:1px solid #9DB6C8;border-bottom:1px solid #9DB6C8;padding: 5px;white-space: nowrap;color:  #000;font-weight: normal;background:#F5FAFE url(images/td_bg3.gif) no-repeat left top;}
	/*弹出窗口区域样式结束*/
/*主题帖子详细内容样式定义 结束*/
/*投票主题帖子投票样式定义 开始*/
#NtForumTicket{clear:both;border: 1px solid #e4ecf6;margin-top: 9px;}
	#NavTicketTop{border-left: 1px solid #fff;border-right: 1px solid #fff;border-bottom: 3px solid #fff;background: #f5fafe url(images/td_bg3.gif) no-repeat left top;height: 32px !important;height: 35px;text-align:left;padding-left:8px;}
		#NavTicketTop img{padding-right: 15px;padding-left: 15px;padding-top: 6px;}
	.NavTicketList{clear:both;height:32px;line-height: 32px;min-height:32px;border-top: 1px solid #e6eef7;border-bottom: 2px solid #fff;background-color: #f5fafe;text-align: left;}
		.TicketLeft{float: left;width:350px;border-top: 1px solid #fff;background:url(images/td_bg3.gif) no-repeat left top;border-right: 1px solid #e6eef7;border-left: 1px solid #fff;height:32px;}
			.TicketTitle{padding-left:27px;}
			.TicketTitle input{margin-right: 8px;margin-bottom:-3px;}
	
		.TicketRight{margin-left:0px!important;margin-left:350px;overflow:hidden;zoom:1;border-top: 1px solid #fff;background:#f5fafe url(images/td_bg3.gif) no-repeat left top;height:32px;}
			#ticket-show{float:left;width: 380px;height: 12px !important; height: 13px;border-bottom: 1px solid #fff;background: url(images/ticket_bg.gif) repeat-x top left;margin-left: 15px;margin-top: 12px;text-align: left;}
				#ticket-show div{background: url(images/ticket.gif) repeat-x top left;height: 12px;}
	#NavTicketFooter{clear: both;padding-left:45px;border-left: 1px solid #ffffff;border-right: 1px solid #ffffff;border-top:1px solid #dce6f1;height: 43px;line-height: 42px;background:#f5fafe;}
		*html #NavTicketFooter input{margin-top:7px;}
	#NavTicketVoterList{clear:both; overflow:hidden; zoom:1; margin-top:8px; background:#F5FAFE; border:1px solid #dce6f1; padding:8px;}
/*投票主题帖子投票样式定义 结束*/
/*个人控制面板区样式定义 开始*/
.ControlPannel{clear:both;margin-top:8px;overflow:hidden;zoom:1;text-align:left;}
	.ControlPannelMenu{float:left;width:10%;position:relative;margin-top:18px;}
		.ControlPannelMenu a{display:block;margin-bottom: 5px;text-decoration: none;height: 30px;line-height: 30px;color: #0954A6;text-align:left;}
		.ControlPannelMenu a.current {position:relative; left:1px; color: #0954A6; cursor: default; border:1px solid #B4C9E0;background: #F2F8FE;border-right: 0px; padding:1px; padding-right:0px; height:26px; line-height:26px;}
			*+html .ControlPannelMenu a.current { left:0; }
			*html .ControlPannelMenu a.current { left:0; }
			.current span{display:block;text-align:left;padding-left:15px;background:#EAF3FD;height:23px;line-height:23px;} 
		.ControlPannelMenu a:hover {color: #0954A6;}
			.ControlPannelMenu h3{color:#333;line-height:30px;}
	.ControlPannelContent{float:right;width:90%;overflow:hidden;zoom:1;margin-left:-1px;margin-right:1px;}
		.ControlPannelContent .Pcontent{overflow:hidden;zoom:1;border:1px solid #B5C9E0;background:#F4F9FE;padding:1px; }
			.Pcontent .PannelDetail{overflow:hidden;zoom:1;padding:20px 4px 10px 4px;background:#EAF3FD url(images/content-bg.jpg) repeat-x left top;}
			
				.PannelTabs{padding-bottom: 28px;}
					.PannelTabs a {float: left;padding: 0 5px;margin-right: 5px;text-decoration: none;height: 28px;line-height: 28px;color: #0954A6;font-weight:bold;}
					.PannelTabs a:hover {color: #666;background: #fff;}
					.PannelTabs a.current,.PannelTabs a.current:hover  {color: #000;cursor: default;border-bottom: 1px solid #FFF;background: #FFF url(images/currentbg.jpg) no-repeat right top;height: 27px;line-height: 27px;text-align:center;padding: 0 5px;margin-right: 5px;}
					.PannelTabs a.AddButton {color: #090;cursor: default;}
					
				.PannelBody {clear:both; zoom:1; overflow: hidden;  background: #FFF; padding: 20px; min-height:450px; border-bottom:4px solid #D6E8F8;border-right:2px solid #D6E8F8;}
					.PannelList {height:auto!important;height:450px;}
					.PannelList table{line-height:240%; border-top:1px dashed #ccc;}
					.PannelList td{text-align:center; border-bottom:1px dashed #ccc;}
					.PannelList .NtForumPages td{text-align:center; border-bottom:1px solid #BDDAF7;}
					.PannelList th{text-align:center; border-bottom:1px dashed #ccc;}
						.PannelBody .time{font-family:Trebuchet MS; color:#999;}
						.PannelBody a:link,.PannelBody a:visited{ color:#0954A6; text-decoration:none;}
						.PannelBody a:hover,.PannelBody a:active{ color:#333; text-decoration:none;}
						
						.AvatarList { overflow:hidden; zoom:1; background :#fff; padding:10px; border:1px solid #999; border-bottom: 0;width:450px; height:400px;}
							.AvatarList li{ float:left; width:24%; margin:0 1px; height:120px;}
							.AvatarListButton {display: block; position: absoulte; left: 0px; bottom: 0px;text-align: center;border: 1px solid #999999; border-top: 0;padding:5px 0;}
						.AvatarListBackground {background-color: #f5f5f5;}
						.MessageTable {background:#fff;}
						.MessageTableOn {background:#fbfbfb;}
						#BOX_overlay label { width:40px;}
						
					.PannelMessage{overflow:hidden; zoom:1; width:100%; text-align:left; line-height:30px;}
							.PannelMessage .PannelLeft{ float:left; text-align:left; width:48%; padding-left:10px; line-height:36px;}
								.PannelLeft a:link,.PannelLeft a:visited{ color:#666; text-decoration:none;}
								.PannelLeft a:hover,.PannelLeft a:active{ color:#666; text-decoration:none;}
							.PannelMessage .PannelRight{float:right; width:48%; text-align:right;}
							
	/*个人控制面板表单区域样式定义开始*/
.PannelBody label{float: left;width: 120px;background-color:transparent;font-weight:bold;text-align:left;line-height:220%;}
	.PannelBody .LabelShort{width: 60px;}
	.PannelBody .LabelLong{width: 150px;}
	.PannelBody .LabelLong2{width: 160px;line-height:400%;text-align:left;}
	.PannelBody input{margin-top:3px;}
	.PannelBody br{clear: left;}
	/*个人控制面板表单区域样式定义结束*/

	/*个人控制面板短信详细内容样式定义开始*/
.PannelBody ul{margin-bottom:10px;line-height:200%;}
	.NoteTitle{font-weight:bold;color:#FF9900;background:#fff url(images/message_1.gif) no-repeat left center;padding-left:25px;}
	.NoteTime{color:#999;font-weight:lighter;padding-left:25px;}
	.NoteContent{ overflow:hidden; word-wrap:break-word; word-break:break-all; background:#F5FAFE; font-size:14px; color:#666; padding:10px; }
	.PayChange{background:#F5FAFE;color:#666;padding:2px 10px 2px 10px;font-size:12px;}
		.PayChange em{font-style:normal;font-weight:bold;color:#F90;}
		.NoteContent a{font-size:12px;font-weight:bold;padding:0 3px;}
		.NoteContent a:link,.NoteContent a:visited{color:#0954A6;text-decoration:none;}
		.NoteContent a:hover,.NoteContent a:active{color:#666;text-decoration:underline;}
	/*个人控制面板短信详细内容样式定义结束*/

	/*个人控制面板个人信息样式定义开始*/
.PannelBody ul a{font-weight:bold;}
.PannelBody li{color:#333;}
	.UserMessagesName{color:#090;font-weight:bold;}
	.CompartLine{margin:0 auto;height:15px;line-height:15px;border-top:1px dashed #ccc;}
	.UserMessagePhoto{overflow:hidden;zoom:1;padding:10px;}
		.PhotoImg{float:left;width:15%;text-align:left;height:auto!important;height:100px;min-height:100px;}
		.PhotoImgEditer{float:right;width:85%;}
	/*个人控制面板短信详细内容样式定义结束*/
	/*个人控制面板头象列表样式定义开始*/
		ul#photo{overflow:hidden;zoom:1;margin:0 auto;list-style:none;padding:6px;white-space:nowrap;}				
				#photo li{float:left;width:20%;height:auto!important;height: 240px; min-height:240px;overflow: hidden;}
				#photo .PhotoHeight{float:left;width:20%;height:230px;}
	/*个人控制面板头象列表样式定义结束*/
	/*个人相册编辑开始*/
		.PhotoEditer { overflow:hidden; zoom:1; margin-top:15px;}
			.PhotoEditer .PhotoShow { float:left; width:20%; text-align:center;}
			.PhotoEditer .PhotoMessage { float:right; width:68%;}

			a.ImpButton { padding:7px 22px; text-align:center; background:url(images/userButton3.gif) no-repeat left center;}
				.ImpButton strong{color:#000;}
			a.OtherButton { padding:7px 16px; text-align:center; background:url(images/userButton2.gif) no-repeat left center;}
			a.SelectAll { padding:7px 10px; text-align:center; background:url(images/usersubmit.gif) no-repeat left center;}
	/*个人相册编辑结束*/
/*个人控制面板区样式定义 结束*/
/*frame start*/
.ForumDropMenu{display: none;background:#DEEFFA;padding:2px;text-align:left;border-left:1px solid #D7E3F2;border-right:1px solid #E6EEF7;border-bottom:1px solid #E6EEF7;}
/*NtFrameBack start*/
#NtFrameBack{height:26px !important;height:27px;border-bottom:1px solid #fff;background-color:#DEEFFA;line-height:26px;}
	#NtFrameBack strong{padding-left:35px;border-left:1px solid #F5FAFD;background:url(images/back.gif) no-repeat 25%;font-weight:normal;}
	#NtFrameBack em{padding-left:30px;background:url(images/back2.gif) no-repeat 13%;margin-left:10px; font-style:normal;}
	#NtFrameBack a{color:#09C}
/*NtFrameBack end*/
/*NtFrameHead start*/
.NtFrameHead{clear:both;overflow:hidden; zoom:1;line-height:22px;width:100%;}
	.FrameHeadLeft{float:left;text-align:left;width:49%;}
	.FrameHeadRight{float:right;text-align:right;width:49%;}
		.NtFrameHead div{height:20px;line-height:20px;}
/*NtFrameHead end*/
/*NtForumFocus start*/
#NtForumFocus{clear:both;overflow:hidden;zoom:1;width:100%;margin-top:8px;}
		.NavFocusListLeft{overflow:hidden;zoom:1;float:left;width:48%;}
		.NavFocusListRight{overflow:hidden;zoom:1;float:right;width:48%;}
			.NavFocusList li{text-align: left;line-height: 24px;height:24px;border-top:1px solid #D1E1EF;color:#036;background-color:#F5FAFE;margin-bottom:1px;}
				.NavFocusList li img{padding:2px;}
		#newpmcount{color:#09C;font-family:Verdana, Arial, Helvetica, sans-serif;}
		
		.FrameListselect{clear:both;background-color:#F5FAFE;line-height:28px;border-top:1px solid #E6EEF7;color:#0099CC;height:30px;}
/*NtForumFocus end*/
/*NtForumMenu start*/
.NtFrameMenu{overflow:hidden;zoom:1;margin-left:8px;}
			.NtFrameMenu li{text-align:left;line-height:180%;}
				.NtFrameMenu li span{color:#000;}
				.NtFrameMenu strong{font-weight:normal;color:#09C;font-family:Verdana, Arial, Helvetica, sans-serif;}
			.NtFrameMenu a{color:#3F4E5A;text-decoration:none;}
			.NtFrameMenu a:hover{color:#258DC9;text-decoration:underline;}
			.NtFrameMenu span{color:#09C;}
			.NtFrameMenuLine{width:200px;margin:0 auto;background: url(images/space.gif) repeat-x left center;}
/*NtForumMenu end*/
/*frame end*/
/*模板界面定义开始*/
ul#NtForumTemplate{overflow:hidden;background:#F5FAFE;width:100%;margin:0 auto;}
		ul#NtForumTemplate li{float:left;width:45%;text-align:center;padding:10px;height:260px;}
		ul#NtForumTemplate img{margin:1px;border:1px solid #ccc;}
/*模板界面定义结束*/
/*查看用户信息页面*/
.NtForumUserInfo{clear:both;overflow:hidden;zoom:1;margin-top:8px;width:100%;}
		 .UserInfoLeft,.UserInfoRight{overflow:hidden;zoom:1;width:48%;float:left;}
		 .UserInfoRight{float:right;}
		#newpmcount{color:09c;font-family:Verdana, Arial, Helvetica, sans-serif;}
		.UserAvatar{float:left;margin-left:20px;height:auto!important;height: 100px;min-height:100px;margin-right:20px;margin-bottom:10px;}
			.UserAvatar img{border: 1px solid #B4C9E0;background-color: #fff;padding: 2px;margin-top: 12px;}
		.Ulist{margin-left: 0px;}
			.Ulist li{text-align: left;line-height: 22px;border-top:1px solid #e0e0dc;color:#666;background-color:#f8f8f3;margin-bottom:1px;}
			.Ulist li img{padding:4px;}
		.Usermessage{padding:10px 0pt;}
			.Usermessage li{line-height:180%;text-align:left;}
			.Usermessage span{color:#000;}
/*查看用户信息页面*/
/*全站表单区样式定义 开始*/
.colorblue,.colorfocus,.colorblue2 {font-family:Arial, Helvetica, sans-serif; border: 1px #B9CDE3 double; background-color: #fff; padding:0.2em 0; margin:2px;}
.colorfocus {border: 1px #99CC00 double;}
.colorblue2 {padding:0; width:40px;}
	.InPutRadio{padding:15px; line-height:20px;}
	.sbutton,.sbutton:hover{margin-left: 8px; width:77px; height:27px; background: url(images/button-bg3.gif) no-repeat left top; color:#fff; border:none; font-weight:bold; margin-bottom: 3px;}
	.lightbutton {font-family:Arial, Helvetica, sans-serif; color: #036; background-color: #F5FAFE; border: 1px solid #95D2F0; height: 24px; padding:0 3px;}
/*NtForumForm start*/
.NtForumForm{ clear:both; overflow:hidden; zoom:1; border-bottom:1px solid #D1E1EF; background-color: #F5FAFE; text-align:left; color:#666;}
	.NavFormLabel{ float:left; width:19.1%; border-top:1px solid #fff; background:url(images/table_bg2.gif) no-repeat top left; height:auto!important;height:34px; min-height:34px; line-height:34px; text-align:right;}
	.NavFormBody{float:right; width:79%; border-left: 1px solid #fff; border-top:1px solid #fff; height:auto!important; height:34px; background:url(images/table_bg2.gif) no-repeat -1px top; min-height:34px; padding-left:10px; text-align:left; line-height:33px;}
		.NavFormBody h1{font-weight:normal;}
			.radioinput{margin-left:4px;}
		.NtForumForm span{margin-left:37px;}
		.NtForumForm input,.NtForumForm select{margin-top:7px;}
		.btn-area{clear:both;border-bottom:0px;height:36px;text-align:left;padding-left:240px;line-height:36px;background-color:#F5FAFE;margin-top:1px;}
	.NavFormCommend{text-align:left;border-top:1px solid #fff;border-bottom:1px solid #D1E1EF;color: #666;line-height: 27px;background-image:url(images/title_bg.jpg);padding-left:15px;font-weight:bold;}	
	/*QuickReply,QuickPost*/
	.QuickReplyPost,.QuickReplyPost2{border-bottom:1px solid #D1E1EF;width:178px; text-align: right; line-height: 150%;border-right:1px solid #D1E1EF;}
	.QuickReplyPost2{border-bottom:none;text-align:left;}
		.QuickReplyPost strong{padding-right:6px;}
	.QuickReplyRight{border-left:1px solid #fff;border-bottom:1px solid #D1E1EF;padding-left:10px;}
	.row1 span {margin-left:4px;}
	/*QuickReply,QuickPost*/
/*NtForumForm end*/
/*Editer start*/
.popupmenu_popup{ background: #FFF; color: #000; border: 1px solid #86B9D6; }
	.popupmenu_option{ /*background: #F5FAFE*/; white-space: nowrap; cursor: pointer }
	.popupmenu_option .videosty lelabel input {margin-bottom:-6px;}
	.popupmenu_option a:link,.popupmenu_option a:visited{ padding:2px 8px; color: #000; text-decoration: none }
	.popupmenu_option a:hover, .popupmenu_option a:active{ padding:2px 8px; color: #FFF; text-decoration: none }
/*Editer end*/
/*Smiles start*/
.smiliepanel {border-bottom: 1px solid #B4C9E0; padding-bottom:24px;}
	.ScrollBar {float:left;overflow:hidden; width:200px; height:25px;}
		.ScrollBar td div,.lian { width:52px; cursor: default; padding: 0 4px; border: 1px solid #B4C9E0;  margin-right: 5px; text-decoration: none; height: 23px; line-height: 23px; background: #F5FBFF; color: #666;}
		.ScrollBar .lian { color: #0D7DBF !important; font-weight: bold; border-bottom: 1px solid #FFF; background: #FFF !important; white-space:nowrap;}			
	#scrlcontrol {float:right;text-align:right; padding-top:4px;}

.smiles{background: #B5C9E0;margin-left:2px;color:#fff;font-weight:bold;padding:3px;}
	#showsmilie{background:#fff;border:1px solid #B4C9E0;border-top:0;}
	#showsmilie img{padding:3px;}
		.p_bar{ clear:both; margin-top:10px; margin-left:1px; min-height:24px; height:24px; line-height:20px;}
		.p_bar a{ float:left; display:block; width:20px; height:20px; margin-right:4px; text-align:center;}
		a.p_curpage{ border:1px solid #B4C9E0; font-weight:bold; background:#fff;}
/*Smiles end*/
/*全站表单区样式定义 结束*/
/*主题和帖子列表中的分页样式定义 开始*/
.NtForumPages{clear:both;margin-top:8px;text-align:left;}
	.ForumPagesLeft{float: left;width:65%;line-height:24px;}
		.ForumAllPages{border: 1px solid #BDDAF7;background:#F5FAFE url(images/td_bg2.gif) no-repeat 1px 1px;text-align: center;color:#188BCC;line-height:24px;padding:0 4px;}
				.ForumAllPages strong{color:#4ab3e6;font-weight:normal;}
				.ForumAllPages a{color: #333;padding:5px;}
				.ForumAllPages a:hover{color: #fff;background:#45ACE1 url(images/page-bg.gif) repeat-x top left;}
		.ForumAllPages3{border-top: 1px solid #BDDAF7;border-right: 1px solid #BDDAF7;border-bottom: 1px solid #BDDAF7;background: #fff url(images/td_bg2.gif) no-repeat 1px 1px;text-align: center;color:#666;padding:0 4px;line-height:20px;}
				.ForumAllPages3 input{height:18px;margin:0 2px;}
				
	.ForumPagesRight{float: right;width:34%;text-align:right;line-height:34px;height:34px;}
		.ForumPagesRight div{width:78px;float: left;}
	.ForumPagesRight2{width: 200px; float: right;text-align:right;padding-bottom:5px;}
	
	#ForumPagesListPage{float: left;background: url(images/page_list.gif) no-repeat top left;width: 95px;height: 26px;line-height: 25px;text-align: center;}
	#ForumPagesListPage2{float: right;background: url(images/page_list2.gif) no-repeat top left;width: 77px;height: 26px;line-height: 25px;text-align: center;}
	
	.viewnumber {padding-left:15px;}
		.viewnumber strong{font-weight:bold; padding-right: 4px;}
/*主题和帖子列表中的分页样式定义 结束*/
/*正触和错误提示提示信息框部分样式开始*/
	.NavForumError{overflow:hidden;zoom:1;margin:0 auto;font:14px Arial, Helvetica, sans-serif;color:#090;padding:10px 10px 10px 45px;width:40%;background:url(images/btn-error.gif) no-repeat left center;text-align:left;line-height:160%;font-weight:bold;}
	.NavErrorBack{overflow:hidden;zoom:1;margin:0 auto;color:#3F4E5A;font-size:12px;text-align:left;font-weight:normal;}
	.NtForumTrue{clear:both;overflow:hidden;zoom:1;margin:0 auto;border:1px solid #B4C9E0;padding:1px;background-color:#F5FAFE;text-align:center;margin-top:8px;}
		.NavForumTrue{overflow:hidden;zoom:1;margin:0 auto;font:14px Arial, Helvetica, sans-serif;color:#090;padding:10px 10px 10px 45px;width:40%;background:url(images/btn-true.gif) no-repeat left center;text-align:left;line-height:160%;font-weight:bold;}
/*正触和错误提示提示信息框部分样式结束*/
/*论坛跳转区样式定义 开始*/
#NtForumJumping{clear:both;overflow:hidden;zoom:1;margin:10px 0;border: 1px solid #dfdfdf;}
	.NtJumpingInner{border: 1px solid #fff;border-bottom: 2px solid #fff;background: #fff url(images/function_bg.gif) repeat-x left top;height: 30px !important;
height: 33px;line-height: 33px;}
		.NtJumpingLeft{float:left;width:40%;background:url(images/dot_redirect.gif) no-repeat 10px center;padding-left:30px;}
		.NtJumpingLeftShow{float:left;width:40%;padding-left:15px;}
		.NtJumpingRight{float: right;}
			.NtJumpingRight em{font-style:normal;margin:0 6px;}
			.NtJumpingRight span{margin-left:5px; padding-left:0;background:none;}
	.NtJumpingInner select{margin-top:7px;}
	*+html	.NtJumpingInner select{margin-top:0px;}
/*论坛跳转区样式定义 结束*/
/*定部跳出转到头部区 样式定义 开始*/
#footer-GoTop-nav{margin-top: 5px;text-align: right;}
/*定部跳出转到头部区 样式定义 结束*/
/*在线用户区样式定义 开始*/
#NtOnlineUser,#NtForumLink{clear:both;margin-top:8px;border:1px solid #CEDCEB;color:#3F4E5A;}
		.NavOnlineUserHead,.NavForumLinkHead{border-top: 1px solid #fff;border-left: 1px solid #fff;border-right: 1px solid #fff;border-bottom: 3px solid #fff;background: #f5fafe url(images/table_bg2.gif) no-repeat top left;height:32px !important;height: 35px;padding-left: 14px;line-height: 32px;}
			.HeadLeft{float:left;width:60%;}
				.HeadLeft strong{font-weight: normal;color: #3F4E5A;}
				.HeadLeft em{font-style:normal;background:url(images/time.gif) no-repeat left center;font-family:Georgia,Tahoma, Verdana,snas-serif; color: #999;padding-left:20px;margin-left:15px;}
			#open{float:right;width:20px;height:20px;line-height:20px;margin-top:5px;margin-right:6px;text-align:center;}
			
		#NavOnlineUserList{clear:both;overflow:hidden;zoom:1;border-top: 1px solid #e6eef7;border-left:1px solid #fff;border-right:1px solid #fff;border-bottom:3px solid #fff;background:#f5fafe;}
			#NavOnlineUserList .Pnleft{float:left;background:url(images/table_bg2.gif) no-repeat top left;width:53px;line-height:62px;text-align:center;height:62px;border-right:1px solid #fff;}
				#NavOnlineUserList .Pnleft img{padding-top:15px;}
			#NavOnlineUserList .Pnright{float:none !important;float:left;margin-left: 55px !important;margin-left:0px;background: url(images/table_bg2.gif) no-repeat top left;padding-left:17px;padding-top: 6px;text-align:left;}
				
				ul#NavUserIcon {height: 24px;}
				#NavUserIcon li{float:left;margin-right:10px;text-align:left;}
					#NavUserIcon img {vertical-align:middle;}
					#NavUserIcon li a{ display: block; color: #333; }
					#NavUserIcon li a:hover{display: block;color: #666;}
										
				#NavUserNumber{height: 22px;line-height: 22px;text-align:left;}
					#NavUserNumber strong{font-weight:normal;color:#069;}
					.newuser{background:url(images/dot_newuser.gif) no-repeat left center;padding-left:20px;padding-top:3px;}

				.NavOnlineUser{overflow:hidden;zoom:1;margin-top:4px;}
					#Online li{float:left;line-height:24px;text-align:left;height:24px;min-height:0px;}
						#online li img{ margin-right: 12px; vertical-align:middle;}

				.LineMiddle{background:url(images/line-middle.gif) repeat-x left center;width:97%!important;width:96%;margin-left:3px!important;margin-left:0px;line-height:4px;}

/*在线用户区样式定义 结束*/
/*友情链接样式定义 开始*/
#NavForumLinkList{clear:both; border-left:1px solid #fff; border-right:1px solid #fff; border-bottom:3px solid #fff; background:#f5fafe;}
#NavForumLinkList .NtLinkList{clear:both; border-top:1px solid #D1E1EF; border-bottom:1px solid #fff; height:auto!important;height:40px; min-height:40px;}
	.LinkLeft{float:left; background:url(images/table_bg2.gif) no-repeat top left; width:53px; line-height:40px; text-align:center; border-right:1px solid #fff; border-top:1px solid #fff;}
	.LinkRight{float:none !important;float:left;margin-left: 55px !important;margin-left:0px;background: url(images/table_bg2.gif) no-repeat top left;padding-left:17px;text-align:left;border-top:1px solid #fff;}
		.LinkRight strong{display:block;float:left;width:70%;line-height:160%;}
		.LinkRight em{display:block;float:right;width:28%;text-align:right;}
	.LinkLeft  img{margin-top:10px;}
	*html .LinkLeft img{margin-top:5px;}
	*+html .LinkLeft img{margin-top:5px;}
	.LinkRight img{margin:2px 6px 2px 2px;}
/*友情链接样式定义 结束*/

/*help*/
.NavHelp {overflow:hidden; zoom:1; margin:15px 0;}
.HelpMenu{ float:left; width: 20%; background: transparent url(images/forumcontentBg.jpg) repeat-x scroll left top; border:1px solid #ccc;}
	.HelpMenu strong {font-weight:bold; line-height:180%;}
	.HelpMenu li {line-height:180%;}
.HelpContent {overflow:hidden; float:right; width:78%; border:1px solid #B6CAE0;}
	.HelpTitle {background-color: rgb(245, 250, 254);line-height:240%; font-size:14px; color:#1b87c5; padding-left:15px;}
	.HelpSubTitle {font-size: 12px; font-weight: bold;}
	.HelpContent ul{margin:15px;}
/*help*/
/*首页标识说明 样式定义 开始*/
#NtCutlineShow{clear: both;overflow:hidden;zoom:1;margin-top: 24px;padding-bottom:15px;}
	#NavCutline{overflow:hidden;zoom:1;margin: 0 auto;border: 1px solid #D6D6D6;padding: 2px;width: 294px!important;width:288px;}
		.NtIcon{height: 48px;background: #FAFAFA;text-align:center;line-height:48px;}
		.NtIcon strong{background:url(images/forum_old.gif) no-repeat left center;padding-left:35px;padding-top:15px;padding-bottom:15px;font-weight:normal;}
		.NtIcon em{background:url(images/forum_new.gif) no-repeat left center;padding-left:35px;padding-top:15px;padding-bottom:15px;font-style:normal;margin-left:15px;}
/*首页标识说明 样式定义 结束*/
/*帖子列表标识说明 样式定义 开始*/
#NtForumCutlineShow{clear: both;overflow:hidden;zoom:1;padding-top:24px;padding-bottom:6px;padding-bottom:15px;}
		.NavCutlineOutline{border: 1px solid #D6D6D6;padding: 2px 2px 5px 2px;width: 410px;margin: 0 auto;background: #fff;}
		.NavCutlineInline{overflow:hidden;zoom:1;margin: 0 auto;background: #FAFAFA;color: #333;}
			.NavCutlineInline ul{list-style: none;margin-left: 20px;}
			.NavCutlineInline li{float: left;text-align: left;line-height: 22px;width: 125px;}
				.NavCutlineInline  li img{padding: 9px;}
/*帖子列表标识说明 样式定义 结束*/
/*广告 样式定义 开始*/
#NtBottomAd{clear:both;overflow:hidden;zoom:1;padding-top:9px;text-align:center;}
.ad_pip {clear: right; float: right; display: inline; margin: 15px; }
	/*\*/ * html .ad_pip  { height: 1%; } /**/ *>.ad_pip  { overflow: hidden;} 
.ad_column { overflow:hidden; zoom:1; margin-top:8px; text-align:center;}
.ad_textlink2{background: url(images/dot-ad.gif) no-repeat 4px 8px; line-height: 28px;color: #333;padding-left:30px; overflow:hidden;}
#postleaderboardad{ padding:4px 0; border-bottom:1px solid #CEDCEB; text-align:center; background:#F5FAFE;}
/*广告 样式定义 结束*/
/*底部时间显示 样式定义 开始*/
#NtNowTime{clear:both;margin-top:30px;text-align:center;}
	#NtNowTime span{margin:0 auto;font-family:lighter 12px Georgia,Tahoma, Verdana,snas-serif; color: #999;background:url(images/time.gif) no-repeat left center;padding-left:20px;width:300px;}
	#NtNowTime em{color:#000;font-style:normal;}
/*底部时间显示 样式定义 结束*/
/*底部版权 样式定义 开始*/
#NtForumFooter {clear:both; margin-top: 26px; border-top:1px solid #CCCCCC; height: 61px !important; height: 62px; color: #333;background: url(images/copyright-bg.jpg) repeat-x left top; padding-left: 16px;}
	.FooterLeft{float: left;width:60%;padding-left:51px;margin-top:10px;line-height: 16px;height: 44px;text-align:left;background: url(images/copyright-dot.gif) no-repeat left center;}
		.FooterLeft span{display:block;color:#ccc;font-size:10px;}
			.FooterLeft em{font-style:normal;color:#666;}
		.FooterLeft a{color:#666;}
			
	.FooterRight{float: right;}
	#NtForumFooter .gototop{ position:relative; left:0px!important;left:0px; top:0px; margin-top:-1px; margin-right:0px; text-align:right; margin-bottom:8px;}
	*+html .FooterRight{ float: right; width:25%; position:relative; text-align:right;}
	*+html .gototop{ position:absoulte; right:0; top:0px; margin-top:-1px; text-align:right; margin-bottom:8px;}
/*底部版权 样式定义 结束*/